[
    {db_config, [
        % {host,      "localhost"},
        % {username,  "approle"},
        % {password,  "zuR^p7F2"},
        % {database,  "erlang-demo"},
        {host,      "localhost"},
        {username,  "fermion"},
        {password,  "Mc#H[$!FZ5yt<vY}"},
        {database,  "erlang-demo"},
        {pool_size, 10}  % Size of 10 - 15 connections is usually optimal
    ]},
    {db_options, [
        {skip_foreign_key_check, false},
        {include_path, src}
    ]},
    {db_modules, [accounts, topics, comments]}
].
