% File appender and console appender
logger{
    file_appender app2{
        dir      = "log",
        level    = info,
        file     = erlang268,
        type     = size,
        max      = 100000,
        suffix   = log,
        rotation = 5,
        format   = '[%L] %I %l%n'
    }

    console_appender app1{
        level  = info,
        format = '%T %j [%L] %l%n'
    }
}
