[
    {cache, {etscached, [
        {max_size, 100},
        {nodes, ['erlang268@localhost']}
    ]}},

    {site_cookie_name, "_erlang268_cookie"},

    % For security reasons, use 'process' session engine only; do **NOT** use
    % 'cookie' nor 'distributed'.
    {session_engine, {process, [
        {session_timeout, 30}
    ]}},

%   set_cookie_options
% options to append some attributes into Set-Cookie statement @response headers.
% set_cookie_options supports yaws_api:set_cookie/3 style options.
% note that two parameters ({expires, ...}, {path, ...}) are ignored and replaced by arguments for wf:set_cookie().
%
% ref.
% https://web.archive.org/web/20200218060107/http://yaws.hyber.org/yman.yaws?page=yaws_api
% yaws_api:set_cookie(Name, Value, Options)
%
% Sets a cookie to the browser. Options are:
% {max_age, Age}        - Defines the lifetime of the cookie, in seconds, where age is an integer >= 0.
% {domain, Domain}      - Domain is a string that specifies the domain for which the cookie is valid.
% {same_site, Policy}   - Policy is one of the atoms lax, none or strict.
% {comment, Comment}    - Comment is a string that documents the server's intended use of the cookie.
% secure                - Directs the user agent to use only secure means to contact the origin server whenever it sends back this cookie.
% http_only             - Restricts cookie access from other non-HTTP APIs.
%
% Security
%  The following options are injection protected.
%  * max_age
%  * same_site
%  * secure
%  * http_only
%  The following options are NOT injection protected. Be careful with the values you specify.
%  * domain
%  * comment
%  Other options are ignored and not used.
%
%    {set_cookie_options, [
%        {expires, {{2023,5,31},{12,34,56}}},
%        {max_age, 1800},
%        {domain, "example.com"},
%        {same_site, strict},
%        {comment, "COMMENT"},
%        secure,
%        http_only
%    ]},
    {set_cookie_options, [
        {same_site, strict},
        %secure,
        http_only
    ]},

    % in case of load balance, sign_key in several nitrogen instances must be
    % the same because this sign_key is used to encode, decode cookie
    %
    % XXX: do **NOT** use the default value
    %
    {sign_key, "erlang268_signkey"},

    {default_language, en},

    {mail, {smtp, [
        {server, "example.com"},
        {from, "admin@example.com"},
        {time_out, 15000}
    ]}}

    % A spinner image will be displayed on the web page for
    % postback requests. When developing on local machine,
    % the connection is usually too fast, thus the spinner
    % is very hard to be seen. With this option, the spinner
    % will be seen.
%    {simulate_slow_connection, 1000}
].
