[
    {plugins, [
       % erlydb の設定方法や注意点については下記を参照すること。
       %   * http://git.kokolink.net/fermium/fermium/wikis/dev/lib/erlydb
       {erlydb, [
        %    {sub_plugins, [
        %        {econsistent, [
        %            {version_number_column, econs_ver}
        %        ]},
        %        {erlydb_default_hooks, [
        %            {hooks_module, *HooksModule*},
        %            {exclude     , [*Model1*, *Model2*, ...]}
        %        ]}
        %    ]},
           generate_code_early
       ]}
    ]}

    %{custom_plugins, [
    %]}
].
