# See http://yaws.hyber.org/yman.yaws?page=yaws.conf

id     = erlang268
logdir = log

max_num_cached_bytes = 10240000 # 10 MB
max_size_cached_file = 1024000  # 1 MB
cache_refresh_secs   = 0

<server localhost>
  port           = 4000
  listen         = 0.0.0.0
  listen_backlog = 512
  deflate        = true
  docroot        = wwwroot
  appmods        = </, wf_yaws exclude_paths nitrogen>
  errormod_crash = wf_yaws
  # <ssl>
  #  keyfile = ssl/server.key
  #  certfile = ssl/server.crt
  # </ssl>
  # <extra_response_headers>
  #  add X-Frame-Options = DENY
  # </extra_response_headers>
</server>
